torch 
torchaudio 
transformers 
librosa 
dtw-python 
phonemizer 
numpy
fastapi
python-multipart
coqui-tts
pydub
gtts
fastdtw
scipy
python-Levenshtein
scikit-learn
streamlit
plotly
requests
uvicorn
soundfile
torchcodec